<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test page flask</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <header>
    <div class="section cta-container">
      <div class="container">
        <h1 class="header center secondary-text-darken">Welcome to Flask</h1>
        <div class="row center">
          <h5 class="col s12 light white-text">
            Get started with Installation and then get an overview. There is also a more detailed Tutorial that shows how to create a small but complete application with Flask. Common patterns are described in the Patterns for Flask section. The rest of the docs describe each component of Flask in detail, with a full reference in the API section.
          </h5>
        </div>
        <div class="row center">
          <a href="https://flask.palletsprojects.com/en/1.1.x/" class="btn-large waves-effect waves-light">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="container" id="products">
    <div class="container" id="about">
      <div class="section">
        <div class="row">
          <div class="col sm12">
            <h2>About us</h2>
            <p>Welcome to Flask’s. Get started with Installation and then get an overview with the Quickstart. There is also a more detailed Tutorial that shows how to create a small but complete application with Flask. Common patterns are described in the Patterns for Flask section. The rest of the docs describe each component of Flask in detail, with a full reference in the API section</p>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="primary-bg">
      <div class="container">
        <div class="row quote-wrapper">
          <div class="col s12 white-text">
            <i class="material-icons medium">format_quote</i>
            <h5><em>Flask depends on the Jinja template engine and the Werkzeug WSGI toolkit. The documentation for these libraries can be found at:
                Jinja documentation,  
                Werkzeug documentation</em></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="image-section" id="image-section-2"></div>
  </main>
</body>
<footer class="#">
</footer>
</html>